.block {
  width: 30px;
  height: 30px;
  display: inline-block;
  border: 1px solid black;
  text-align: center;
}

.block-txt {
  line-height: 30px;
}

.block-row {
	height: 30px;
}

.block-active {
  border: 2px solid purple;
}


.block-0 {
    background-color: grey;
}

.block-1 {
    background-color: red;
}

.block-2 {
    background-color: cyan;
}

