.block {
  width: 30px;
  height: 30px;
  display: inline-block;
  border: 1px solid black;
  text-align: center;
}

.block-txt {
  line-height: 30px;
}

.block-fill {
    background-color: red;
}

.block-nofill {
    background-color: grey;
}
